*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/orm/

.idea/
.DS_Store

uploads/bank_soal/*
!uploads/bank_soal/*.html
uploads/file_siswa/*
!uploads/file_siswa/*.html
uploads/foto_siswa/*
!uploads/foto_siswa/*.html
uploads/import/format/*
!uploads/import/format/*.html
uploads/materi/*
!uploads/materi/*.html
uploads/profiles/*
!uploads/profiles/*.html
uploads/settings/*
!uploads/settings/*.html
uploads/tugas/*
!uploads/tugas/*.html

